html{
    box-sizing: border-box;
   
}
*{
    margin: 0%;
    padding: 0%;
    border: none;
    
}
.navbar{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    box-shadow: 0 5px 20px rgba(0,41,112,.1);
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #fff;
}
 .navmenu{
    display: flex;
    list-style: none;    
}
.site-logo img{
    
    
    width: 150px;
}
.navmenu li{
    padding: 10px;
   margin-right: 10px ;
   font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}
.site-login{
    background: #00baf2;
    padding: 0px 0px 0px 20px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 15px;
    color: #fff;
    font-weight: 600;
    transition: 1s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 15px;
    height: 40px;
  
}
.site-login img{
    border-radius: 10px;
    margin-left: 10px;
}
 
.site-login:hover{
    background-color: #012a72;
    color: white;
}
.hero-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    z-index: 0;
}
.image-section img{
    width: 560px;
    position: relative;
   
    right: 10px;
}
.text-section{
    width: 475px;
}
.text-section h1{
    font-size: 54px;
    font-weight: 700;
    line-height: 65px;
}
.text-section p{
    padding-top: 10px;
    width: 475px;
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}
.text-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
}
.hero-btn{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 30px;
    background: #000;
    color: white;
    padding: 0 24px;
    height: 44px;
    font-size: 15px;
    
}
.hero-btn a{
    flex: flex-start;
margin-left:10px ;
color: white;

}
.hero-btn:hover{
    color: white;
}
.hero-btn:hover{
background: transparent;
border: 1px solid black;
color: black;
}
.hero-btn a svg{
    fill: #fff;
}
.hero-btn:hover a svg {
    fill: black;
}


/* Recharge section */
.reacharge-section{
    background: #00baf2;
    padding: 50px 100px;
    z-index: 0;
    display: flex;
    flex-direction: column;

}
.recharge-text h1{
   
    font-size: 36px;
    color: #fff;
    font-weight: 700;
   
}
.icon-section{
    padding: 20px 0px;
    display: flex;
    justify-content: center;
 
    align-items: center;

}
.icon-box{
    width: 140px;
    margin-right: 32px;
    cursor: pointer;
    border-radius: 12px;
    padding: 16px 10px 16px 10px;
    justify-content: center;
    font-size: 17px;
    color: #fff;
    font-weight: 500;
    line-height: 25px;

}
.icon-box:hover{
  
    background: #00afe3;
}
.icon-image img{
    width: 64px;
    margin-bottom: 17px;
    border-radius: 100%;
    box-shadow: 0 5px 20px rgba(0,41,112,.1);

}
.icon-image{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 17px;
    font-weight: 500;
}
.icon-image-text{
    font-weight: 700;
}